<a class="navbar-brand" asp-controller="home" asp-action="index">Vankovich</a>
            <div class="navbar-nav">
                <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Lab 2</a>
                <a class="nav-item nav-link" asp-controller="Product" asp-action="Index">Каталог</a>
                <a class="nav-item nav-link" asp-area="Admin" asp-page="/Index">Администрирование</a>
            </div>